<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :quantidade %>
    <%= form.text_field :quantidade%>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo%>
  </div>

  <div class="field">
    <%= form.label :ano %>
    <%= form.text_field :ano %>
  </div>

  <div class="field">
    <%= form.label :marca%>
    <%= form.text_field :marca %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
