<%= form_with(model: estoque) do |form| %>
  <% if estoque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estoque.errors.count, "error") %> prohibited this estoque from being saved:</h2>

      <ul>
        <% estoque.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
  <div class="col-lg-6 form-group">   
      <%= form.label :quantidade, :class => 'control-label required' %>
      <%= form.text_field :quantidade,  :class => 'form-control' %>
  </div>
 

  <div class="col-lg-6 form-group">   
  <%= form.label :tipo, :class => 'control-label required' %>
  <%= form.text_field :tipo,  :class => 'form-control' %>
</div>

<div class="col-lg-6 form-group">   
<%= form.label :ano, :class => 'control-label' %>
<%= form.text_field :ano, :class => 'form-control' %>
</div>

<div class="col-lg-6 form-group">   
<%= form.label :marca, :class => 'control-label' %>
<%= form.text_field :marca, :class => 'form-control' %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

